/* base classes */
.inline-block{
    display: inline-block;
}
.verical-middle{
    vertical-align: middle
}
.vertical-top{
    vertical-align: top;
}
.vertical-bottom{
    vertical-align: bottom;
}
/* base classes */
.logo{
    width: 100px;
    margin-top: 30px;
}
.container{
    margin-left: 30px;
}
.navigation{
    margin-top: 25px;
}
.navigation-a{
    padding: 7.5px 0; 
    display: inline-block;
    /* color: rgb(61,88,166); */
    color: #3D58A6;
    font-size: 22px;
    font-family: 'BPG Nino Mtavruli Bold';
}
.navigation-a:hover{
    color: #EE4036;
}
.banner-img{
    margin-top: 20px;
}
.soclia-a img {
    height: 30px;
}
.social-li{
    display: inline-block;
}
/* .social-li::before{ */
    /* content: " " */
/* } */
/* .social-li::after{ */
    /* content: " " */
/* } */
.soclia-a.fb{
    padding-right: 30px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #3D58A6; 
    display: inline-block;
}
.soclia-a.youtube{
    padding-left: 30px;
}
.footer{
    margin-top: 30px;
}
.article{
    margin-top: 40px;
}
.date-block{
    font-family: 'BPG Nino Mtavruli';
}
.date{
    background-color: #3D58A6;
    padding: 8px 5px 3px 5px;
    font-size: 48px;
    color: #ffffff;
}
.month{
    font-size: 22px;
    color: #3D58A6;
    margin-top: 8px;
}
.article-title{
    font-size: 20px;
    display: block;
    margin-top: 25px;
    /* font-family: "BPG Nino Mtavruli", sans-serif; */
    font-family: 'BPG Nino Mtavruli';
}
.article-img{
    margin-top: 25px;
}
.par{
    font-size: 16px;
    margin-top: 30px;
    line-height: 22px;
    font-family: "BPG Arial", sans-serif;
}
.content-section{
    background-color: #E6E6E6;
    padding: 30px 0 30px 30px;
}
.iframe{
   width: 870px;
   height: 460px;
   border:0;
   margin-left: 40px; 
}
.content-right-block{
    width: 280px;
}
.contact-title{
    font-size: 20px;
    font-family: 'BPG Nino Mtavruli Bold';
    color: #3D58A6;
    /* text-align: center; */
}
.row{
    font-family: "BPG Arial", sans-serif;
    font-size: 16px;
    /* text-align: center;  */
    margin: 5px auto;
}
.key{
    color: #808080;
}
.value{
    color: #000000;
}
/* fatured block */
.feature-block{
    margin-top: 120px; /* test */
}
.feature-heading{
    font-family: 'Roboto';
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.feature-heading .link{
    text-transform: lowercase;
}
.feature-item{
    width: 570px;
    background-color: #F2F2F2;
    padding: 15px 25px 40px 15px;
}
.feature-item:last-child{
    margin-left: 30px;
}
.feature-item .title{
    font-family: "Roboto";
    font-size: 22px;
    color: #3D58A6;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.feature-item .content-img{
    width: 100px;
    margin: auto 60px auto 25px;
    vertical-align: bottom;
}
.feature-item .content-p{
    width: calc(100% - 185px);
    font-size: 20px;
    font-family: "Roboto";
    line-height: 24px;
}
/* .feature-item:nth-of-type(2n - 1){
    background: red;
} */
/* fatured block */