.logo{
    width: 100px;
    margin-top: 30px;
}
.container{
    margin-left: 30px;
}
.navigation{
    margin-top: 25px;
}
.navigation-a{
    padding: 7.5px 0; 
    display: inline-block;
    /* color: rgb(61,88,166); */
    color: #3D58A6;
    font-size: 22px;
}
.navigation-a:hover{
    color: #EE4036;
}
.banner-img{
    margin-top: 20px;
}
.soclia-a img {
    height: 30px;
}
.social-li{
    display: inline-block;
}
.soclia-a.fb{
    padding-right: 30px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #3D58A6; 
    display: inline-block;
}
.soclia-a.youtube{
    padding-left: 30px;
}
.footer{
    margin-top: 30px;
}